logs
target
build
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.gradle
/RUNNING_PID

# general
*~
*.log
tmp
dump

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin

# SBT
dist
project/boot

project/plugins/target

.target

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# Play

RUNNING_PID


bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
