[submodule "FactChecking"]
    path = FactChecking
    url = https://github.molgen.mpg.de/gadelrab/FactSpotting.git

[submodule "Demo"]
    path = Demo
    url = https://github.molgen.mpg.de/gadelrab/fact_checking_demo
