[submodule "Demo"]
    path = Demo
    url = https://github.molgen.mpg.de/gadelrab/fact_checking_demo
[submodule "FactSpotting"]
	path = FactSpotting
	url = https://github.molgen.mpg.de/gadelrab/FactSpotting
[submodule "Utils"]
	path = Utils
	url = https://github.com/mhmgad/MyUtils.git
