
@import extendedsldnf.datastructure.IQueryExplanations
@import web.data.Query
@(query: Query,explanations:IQueryExplanations)

@* @implicitFC = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") } *@

@* @import b4.vertical.fieldConstructor*@

@*
 * This template takes a single argument, a String containing a
 * message to display.
* @(message: String)
* *@




@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Explain Query") {


 @explain_form(query)



 @explans(query,explanations)

}
